<div class="row">
  <a routerLink="/" class="mb-5 d-flex">
    < {{ 'PREVIOUS-PAGE-HOME' | translate }}</a> <div class="col-12 col-md-4 offset-md-4">
      <h2 class="mat-headline-3 cat-title -gradient">{{ "OFFER-DETAIL.CREATE" | translate }}</h2>
      <form novalidate class="form-container" [formGroup]="registerOfferForm" >

        <mat-form-field class="form-field" appearance="outline" >
          <mat-label for="title">{{ "OFFER-DETAIL.TITLE" | translate }}:</mat-label>
          <input matInput type="text" id="title" formControlName="title" placeholder="" />
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>{{ "OFFER-DETAIL.DESCRIPTION" | translate }}:</mat-label>
          <textarea matInput cdkTextareaAutosize formControlName="description" #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label for="salaryMin">{{ "OFFER-DETAIL.MINSALARY" | translate }}:</mat-label>
          <input matInput type="number" id="salaryMin" formControlName="salaryMin" placeholder="" />
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label for="salaryMax">{{ "OFFER-DETAIL.MAXSALARY" | translate }}:</mat-label>
          <input matInput type="number" id="salaryMax" formControlName="salaryMax" placeholder="" />
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>{{ "OFFER-DETAIL.SHIFT.TYPE" | translate }}:</mat-label>
          <mat-select #shift formControlName="shift">
            <mat-option value="Full-Time">{{ "OFFER-DETAIL.SHIFT.FULLTIME" | translate }}</mat-option>
            <mat-option value="Part-Time">{{ "OFFER-DETAIL.SHIFT.PARTTIME" | translate }}</mat-option>
            <mat-option value="Reduced">{{ "OFFER-DETAIL.SHIFT.REDUCED" | translate }}</mat-option>
            <mat-option value="Split Day">{{ "OFFER-DETAIL.SHIFT.SPLITDAY" | translate }}</mat-option>
            <mat-option value="Rotating">{{ "OFFER-DETAIL.SHIFT.ROTATING" | translate }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>{{ "OFFER-DETAIL.CONTRACT.TYPE" | translate }}:</mat-label>
          <mat-select #contract formControlName="contract">
            <mat-option value="Indefinite-Term">{{ "OFFER-DETAIL.CONTRACT.INDEFINITE" | translate }}</mat-option>
            <mat-option value="Fixed-Term">{{ "OFFER-DETAIL.CONTRACT.FIXED" | translate }}</mat-option>
            <mat-option value="Training">{{ "OFFER-DETAIL.CONTRACT.TRAINING" | translate }}</mat-option>
          </mat-select>
        </mat-form-field>

        <label id="example-radio-group-label">
          {{ "OFFER-DETAIL.MODALITY.TYPE" | translate }}
        </label>
        <mat-radio-group formControlName="typejob">
          <mat-radio-button #modalidad class="example-radio-button" value="Full Remote">
            {{ "OFFER-DETAIL.MODALITY.FULLREMOTE" | translate }}
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" value="Hybrid">
            {{ "OFFER-DETAIL.MODALITY.HYBRID" | translate }}
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" value="Presential">
            {{ "OFFER-DETAIL.MODALITY.PRESENTIAL" | translate }}
          </mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label for="vacancies">{{ "OFFER-DETAIL.VACANCIES" | translate }}:</mat-label>
          <input matInput type="number" id="vacancies" formControlName="vacancies"/>
        </mat-form-field>

        <mat-form-field class="example-chip-list" appearance="outline">
          <mat-label>{{ "OFFER-DETAIL.KEYWORDS" | translate }}:</mat-label>
          <mat-chip-grid #chipGrid aria-label="Keywords" formControlName="keywords">
            <mat-chip-row *ngFor="let keyword of keywords" (removed)="remove(keyword)">
              {{ keyword }}
              <button matChipRemove [attr.aria-label]="'remove ' + keyword">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input placeholder="Keywords..."
            #keywordInput [formControl]="keywordCtrl"
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)" />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="cat-button" (click)="onSubmit()">
          {{ "CREATE" | translate }}
        </button>
      </form>
</div>
</div>
