<a routerLink="/" class="mb-5 d-flex">< {{ 'PREVIOUS-PAGE-HOME' | translate }}</a>
<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <h2 class="mat-headline-3 cat-title">{{ 'Etapas' | translate }}</h2>
  <div class="row">
    <div class="jumbotron">
      <h1 class="display-4">Esto aun no se termina</h1>
      <p class="lead"> Desarrollo de la Segunda fase</p>
      <hr class="my-4">
      <p>Implementacion del tets para el developer asi se juzgara por su conocimientos.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>



  <div role="tablist" class="mat-mdc-tab-list" style="transform: translateX(0px);">
    <div class="mat-mdc-tab-labels">
      <div role="tab" mattablabelwrapper="" cdkmonitorelementfocus="" class="mdc-tab mat-mdc-tab mat-mdc-focus-indicator mdc-tab--active ng-star-inserted mdc-tab-indicator--active" >
        <span class="mdc-tab__ripple"></span>
        <div mat-ripple="" class="mat-ripple mat-mdc-tab-ripple" ></div>
      <span class="mdc-tab__content">
        <a [routerLink]="['value']">Nuestros Valores</a>
      </span>
      <span class="mdc-tab-indicator">
        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline" ></span>
      </span>
    </div>
  <div role="tab" mattablabelwrapper="" cdkmonitorelementfocus="" class="mdc-tab mat-mdc-tab mat-mdc-focus-indicator ng-star-inserted">
    <span class="mdc-tab__ripple"></span>
    <div mat-ripple="" class="mat-ripple mat-mdc-tab-ripple"></div>
    <span class="mdc-tab__content">
      <a [routerLink]="['proyecto']">Proxima Etapa</a>
    </span>
    <span class="mdc-tab-indicator">
      <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
    </span>
  </div>
</div>
</div>


<div class="alert alert-success" role="alert">
  Es Hora de cambiar tu futuro!
</div>
