@import '../../../../styles/mixins.scss';

.skynet-assistant {
  &__popup {
    position: fixed;
    bottom: 40px;
    bottom: calc(var(--rootUnit)*12);
    right: var(--spacingMd);
    height: 50vh;
    min-height: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: var(--spacingSm);
    z-index: 1000;
    flex-direction: column;
    display: none;
    @include media-breakpoint-down(sm) {
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      border-radius: 0;
    }
    @include media-breakpoint-up(sm) {
      max-width: 32rem;
    }
    @include media-breakpoint-up(lg) {
      max-width: 40rem;
    }

    &-button {
      position: fixed;
      bottom: var(--spacingMd);
      right: var(--spacingMd);
      background: none;
      border: none;
      cursor: pointer;
      z-index: 1000;
      width: 5.4rem;
      height: 5.4rem;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4.8rem;
        transition: 0.2s ease-in-out all;
        filter: drop-shadow(var(--dropShadowSvgDark));
        &:hover {
          width: 5.2rem;
        }
      }
    }
  }
  &__header {
    display: flex;
    align-items: flex-start;
    background-image: linear-gradient(136deg, rgb(0 7 113 / 100%) 0%, rgb(48 190 226) 100%);
    color: white;
    font-size: 18px;
    padding: var(--spacingSm) 0 var(--spacingSm) var(--spacingSm);
    border-top-left-radius: var(--spacingSm);
    border-top-right-radius: var(--spacingSm);
    white-space: pre-wrap;
    @include media-breakpoint-down(sm) {
      border-radius: 0;
    }
  }
  &__close-button {
    color: #fff;
    font-size: var(--spacingMd);
    cursor: pointer;
    margin-right: var(--spacingXs);
  }
  &__body {
    background-color: #fff;
    height: calc(100% - 133px);
    padding: var(--spacingSm);
  }

  &__footer {
    display: flex;
    background-color: #ccc;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3019607843);
    color: white;
    font-size: 14px;
    padding: var(--spacingSm);
    border-bottom-left-radius: var(--spacingSm);
    border-bottom-right-radius: var(--spacingSm);
    @include media-breakpoint-down(sm) {
      border-radius: 0;
    }
    &-input {
      width: 100%;
      padding: var(--spacingSm);
      border: 1px solid #fff;
      border-radius: var(--spacingSm) var(--spacingSm) var(--spacingSm) var(--spacingSm);
      box-sizing: border-box;
      font-size: 14px;
    }

  }
  &__submit-button {
    border: 0;
    border-radius: 50px;
    width: 64px;
    line-height: 1;
    background: linear-gradient(135deg, rgb(42, 39, 218), rgb(0, 204, 255));
    color: #fff;
    margin-left: var(--spacingSm);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }

  &__messages {
      height: 100%;
      overflow: auto;
      .skynet-assistant__message{
        display: flow-root;
        width: 100%;
        .client {
          color: white;
          padding: var(--spacingSm);
          background-color: #3b6a91;
          border-radius: 0 var(--spacingSm) var(--spacingSm) var(--spacingSm);
          margin-bottom: var(--spacingSm);
          display: inline-block;
          max-width: 80%;
        }

        .user {
          border-radius: var(--spacingSm) 0 var(--spacingSm) var(--spacingSm);
          border: 0.5px solid #cbc9c9;
          color: #0079c8;
          background-color: #f8f8f8;
          padding: var(--spacingSm);
          margin-bottom: var(--spacingSm);
          display: inline-block;
          max-width: 80%;
          text-align: right;
          float: right;
        }
      }
    }
}
