<app-loader *ngIf="isLoading"></app-loader>
<div class="row"><h2 class="mat-headline-3 cat-title -gradient mb-2">{{ 'LIST' | translate }}</h2></div>
<ul class="list-cat my-4 d-flex flex-wrap" *ngIf="!isLoading">
  <ng-container *ngFor="let cat of catList">
    <li class="list-cat__item col-12 col-sm-6 col-md-4" *ngIf="cat.image"  (click)="getCatDetail(cat.id)">
      <mat-card class="example-card">
        <mat-card-header class="list-cat__header">
          <h3 class="mb-0"><mat-card-title class="cat-title">{{ cat.name }}</mat-card-title></h3>
        </mat-card-header>
        <picture class="list-cat__picture">
          <img class="list-cat__image" mat-card-image [src]="cat.image.url" alt="{{ cat.name }}">
        </picture>
      </mat-card>
    </li>
  </ng-container>
</ul>
