@import '../../../../../styles/mixins.scss';

.list-cat {
  &__header {
    margin-bottom: 16px;
  }
  &__picture {
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: hidden;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      box-shadow: inset 0px 0px 42px -12px rgba(0,0,0,1);
      opacity: 1;
      transition: all .3s ease-in-out;
      z-index: 1;
    }
    &:hover{
      .list-cat__image {
        width: 110%;
      }
      &::before {
        box-shadow: inset 0px 0px 42px -12px rgba(0,0,0,0.3);
        opacity: 0.5;
      }
    }
  }
  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out;
  }
  &__item {
    margin-bottom: 2.4rem;
    cursor: pointer;
    @include media-breakpoint-up(sm) {
      padding-right: 2.4rem;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  [class*="headline"],
  .mat-mdc-card-title {
    color: #E96479;
    margin-bottom: 0.8rem;
  }
}
