<div class="row mb-5 pb-4 -border-bottom">
  <div class="col-11">
    <h2 class="mat-headline-3 mb-0 cat-title">{{ 'FORMS.TITLE.PROFILE' | translate }} {{ 'ENTITIES.COMPANY' | translate }}</h2>
  </div>
  <div class="col-1 secondary-menu">
    <button class="secondary-menu__button" mat-icon-button [matMenuTriggerFor]="Menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  <mat-menu #Menu="matMenu">
    <button mat-menu-item [routerLink]="['/register']">
      <span>{{ 'SECONDARY-MENU.EDIT' | translate }}</span>
    </button>
    <button mat-menu-item routerLink="/register-offer">
      <span>{{ 'SECONDARY-MENU.REGISTER' | translate }}</span>
    </button>
    <button mat-menu-item (click)="deleteUser()">
      <span>{{ 'SECONDARY-MENU.DELETE' | translate }}</span>
    </button>
  </mat-menu>
</div>
</div>
<div class="row mb-5">
  <div class="col-md-4">
    <img src="{{ data.logo }}" class="border-rounded img-fluid" alt="{{ data.name }}">
  </div>
  <div class="col-md-8 pt-5 pt-md-0 ps-md-5">
      <h3 class="mat-headline-4 cat-title mb-4">{{ data.name | titlecase }}</h3>
      <ul class="list-icons">
        <li class="list-icons__item">
          <span class="list-icons__icon"><mat-icon> email</mat-icon></span><span class="list-icons__text">{{ 'FORMS.EMAIL' | translate }}:</span> <a href="mailto:{{ data.email }}">{{ data.email }}</a>
        </li>
        <li class="list-icons__item">
          <span class="list-icons__icon"><mat-icon> business</mat-icon></span><span class="list-icons__text">{{ 'FORMS.CIF' | translate }}:</span> {{ data.cif }}
        </li>
        <li class="list-icons__item">
          <span class="list-icons__icon"><mat-icon>supervised_user_circle</mat-icon></span><span class="list-icons__text">{{ 'FORMS.NUMBER-EMPLOYESRS' | translate }}: </span>{{ data.numberEmployees }}
        </li>
        <li class="list-icons__item">
          <span class="list-icons__icon"><mat-icon>date_range</mat-icon></span>
          <span class="list-icons__text">{{ 'FORMS.CREATED' | translate }}: </span>{{ data.updatedAt | date: 'dd/MM/yyyy' }}
        </li>
      </ul>
    </div>
</div>
<div class="row">
  <h3 class="mat-headline-4 cat-title">{{ 'DESCRIPTION' | translate }}</h3>
  <p>{{ data.description }}</p>
</div>
<div class="row">
  <h3 class="mat-headline-4 cat-title">{{ "PUBLISHED-OFFERS" | translate }}</h3>

  <div *ngFor="let offers of companyData.listOffers">
    <ul class="my-4 d-flex flex-wrap" *ngIf="!isLoading">
      <li class="offer col-12">
        <div class="card mb-3 h-100">
          <div class="row g-0">
            <div class="col-4" (click)="getOfferDetail(offers._id)">
              <img [src]="companyData.logo" class="img-fluid rounded-start">
            </div>
            <div class="col-7">
              <div class="card-body">
                <h3 class="card-title h4 offer__title" (click)="getOfferDetail(offers._id)">{{ offers.title }}</h3>
                <p class="offer-status">status <mat-icon [ngClass]="offers.offerStatus ? 'offer-status__active' : 'offer-status__inactive'">circle</mat-icon></p>
                <p class="card-text"><small class="text-muted">{{ "PUBLISHED" | translate }}{{ offers.createdAt | date: "short" }}</small></p>
              </div>
            </div>
            <div class="col-1 options-btn">
              <button class="secondary-menu__button" mat-icon-button [matMenuTriggerFor]="Menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #Menu="matMenu">
                <button mat-menu-item (click)="updateOfferDetail(offers._id)">
                  <span>{{ 'SECONDARY-MENU.EDIT' | translate }}</span>
                </button>
                <button mat-menu-item (click)="changeOfferStatus(offers._id, offers.offerStatus)">
                  <span>{{ 'SECONDARY-MENU.STATUS' | translate }}</span>
                </button>
                <button mat-menu-item (click)="deleteOffer(offers._id)">
                  <span>{{ 'SECONDARY-MENU.DELETE' | translate }}</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

