<ng-container *ngIf="offerDetail">
  <a (click)="backWithLocation()" class="mb-5 d-flex">{{ 'PREVIOUS-PAGE' | translate }}</a>
  <div *ngIf="isAvailable" class="not-available">{{ 'OFFER-DETAIL.STATUS' | translate }}</div>
<div class="offer-detail">
  <div>
    <div class="row"><h2 class="mat-headline-3 cat-title -gradient">{{ offerDetail.title }}</h2></div>
    <div class="row">
      <div class="col-12 col-md-6 order-1 order-md-0 detail-data">
        <h3>{{ 'OFFER-DETAIL.DESCRIPTION' | translate }}</h3>
        <p [innerHTML]="formatDescription()" class="offer-detail__description"></p>
      </div>
    </div>
    <div class="offer-detail__contract-detail">
      <div class="row ">
        <h4>{{ 'OFFER-DETAIL.SHIFT' | translate }}</h4>
        <p>{{ offerDetail.hiring.shift }}</p>
      </div>
      <div class="row offer-detail__contract-detail--width">
        <h4>{{ 'OFFER-DETAIL.CONTRACT' | translate }}</h4>
        <p>{{ offerDetail.hiring.contract }}</p>
      </div>
      <div class="row offer-detail__contract-detail--width">
        <h4>{{ 'OFFER-DETAIL.MODALITY' | translate }}</h4>
        <p>{{ offerDetail.typeJob }}</p>
      </div>
      <div class="row offer-detail__contract-detail--width">
        <h4>{{ 'OFFER-DETAIL.VACANCIES' | translate }}</h4>
        <p>{{ offerDetail.vacancies }}</p>
      </div>
      <div class="row offer-detail__contract-detail--width">
        <h4>{{ 'OFFER-DETAIL.SALARY' | translate }}</h4>
        <p>{{ offerDetail.salaryRange.min | currency:'EUR':'symbol':'4.2-2' }} - {{ offerDetail.salaryRange.max | currency:'EUR':'symbol':'4.2-2' }}</p>
      </div>
    </div>
    <p>{{ applicantsCount }} {{ 'OFFER-DETAIL.APPLICANTS' | translate }}</p>

    <button type="submit" class="btn btn-primary btn-lg" (click)="jobOfferRegistration(offerDetail._id)" [disabled]="isDisabled">
      {{ buttonApplyName | translate }}
    </button>

  </div>
  <div *ngFor="let company of offerDetail.company" class="col-12 col-md-6 order-0 order-md-1 mb-5">
    <picture>
      <img [src]="company.logo">
    </picture>
    <div>{{ company.name }}</div>
    <div>{{ company.numberEmployees }} {{ 'OFFER-DETAIL.EMPLOYEES' | translate }}</div>
  </div>
</div>
</ng-container>


