.blockquote{
  margin-bottom: 1rem!important;
  margin:auto;
  color: var(--backgroundDark);
  text-align: inherit;
}

.btn {

    color: var(--backgroundDark);
}

#color-text{
  text-decoration-color:black;
}

.banner-hero{
  margin-bottom: 1rem!important;
}

.card-header{
  border-right-color: black;
  margin-bottom: 1rem!important;
  margin: auto;
  background-color: #b9fe00;
  color: var(--backgroundDark);
}

.text-tecnico{
  color: var(--primaryLightColor);
  //text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
}
