<a routerLink="/" class="mb-5 d-flex">< {{ 'PREVIOUS-PAGE-HOME' | translate }}</a>
<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <h2 class="mat-headline-3 cat-title">{{ 'QUIENES SOMOS' | translate }}</h2>
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title fw-bold">Alberto</h3>
          <p class="card-text">Es una excelente opción para un desarrollador senior de software. Su amplia experiencia en el desarrollo de software y su habilidad para resolver problemas complejos de manera creativa lo convierten en un recurso imprescindible. Además, cuenta con habilidades de liderazgo para guiar al equipo hacia el éxito.</p>
          <a href="https://www.linkedin.com/in/alberto-ortiz-trevino/" class="btn btn-primary">LinkedIn</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title fw-bold">Rafael</h3>
          <p class="card-text">Es un profesional creativo, disciplinado y trabajador. Con soluciones innovadoras, ha ayudado a sus clientes a alcanzar sus metas. Siempre enfocado en la excelencia, Rafael se esfuerza por perfeccionar sus habilidades y mantenerse actualizado.</p>
          <a href="https://www.linkedin.com/in/rafael-ernesto-ibarra-zambrano-52655110b/" class="btn btn-primary">LinkedIn</a>
        </div>
      </div>
    </div>
    <div _ngcontent-nfc-c179="" class="banner-hero ng-star-inserted"  style="background-image: url(&quot;https://images.unsplash.com/photo-1617529520608-42a0fe601be2?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwzODA3MTd8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODA0OTQ4MDE&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080&quot;);">
      <div _ngcontent-nfc-c179="" class="container">
        <div _ngcontent-nfc-c179="" class="row position-relative">
          <h3 class="banner-hero__title dz-title fs-1 my-4">{{ 'BANNER-HERO.TEXT' | translate }}...{{ 'BANNER-HERO.CLAIM' | translate }}</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0" >
      <div class="card h-100">
        <div class="card-body">
          <h3 class="card-title fw-bold">Chema</h3>
          <p class="card-text">Es una persona colaborativa con habilidades para trabajar en equipo y resolver problemas. Su capacidad de comunicación y disposición para escuchar le permiten encontrar soluciones efectivas. Con su actitud positiva y proactiva, Chema es un miembro valioso para cualquier equipo.</p>
          <a href="https://www.linkedin.com/in/jose-maria-noves-fernandez/" class="btn btn-primary">LinkedIn</a>
        </div>
      </div>
    </div>
    <div ide="color-text"class="col-sm-6 mb-3 mb-sm-0">
      <div class="card h-100">
        <div class="card-body" >
          <h3 class="card-title fw-bold">Carlos</h3>
          <p class="card-text">Es una persona altamente creativa, con la habilidad de resolver problemas complejos. Su pensamiento innovador y habilidad para pensar fuera de la caja, lo hacen un solucionador de problemas efectivo. Carlos es un activo indispensable para cualquier equipo que busque innovación y eficacia en la resolución de problemas.</p>
          <a href="https://www.linkedin.com/in/carlos-maurizio-avogaro-d%C3%ADaz-789833191/" class="btn btn-primary">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>


  <div role="tablist" class="mat-mdc-tab-list" style="transform: translateX(0px);">
    <div class="mat-mdc-tab-labels">
      <div role="tab" mattablabelwrapper="" cdkmonitorelementfocus="" class="mdc-tab mat-mdc-tab mat-mdc-focus-indicator mdc-tab--active ng-star-inserted mdc-tab-indicator--active" >
        <span class="mdc-tab__ripple"></span>
        <div mat-ripple="" class="mat-ripple mat-mdc-tab-ripple" ></div>
      <span class="mdc-tab__content">
        <span class="mdc-tab__text-label" routerLink="/proyecto">Nuestro proyecto</span>
      </span>
      <span class="mdc-tab-indicator">
        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline" ></span>
      </span>
    </div>
  <div role="tab" mattablabelwrapper="" cdkmonitorelementfocus="" class="mdc-tab mat-mdc-tab mat-mdc-focus-indicator ng-star-inserted">
    <span class="mdc-tab__ripple"></span>
    <div mat-ripple="" class="mat-ripple mat-mdc-tab-ripple"></div>
    <span class="mdc-tab-indicator">
      <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
    </span>
  </div>
</div>
</div>
