.col-sm-6{
  margin-bottom: 1rem!important;
  margin: auto;
  background-color: #b9fe00;
  color: var(--backgroundDark);
  text-align:justify;
}

.btn {
    background-color: #b9fe00;
    color: var(--backgroundDark);
}

#color-text{
  text-decoration-color:black;
}

.banner-hero{
  margin-bottom: 1rem!important;
}