  <div class="banner-hero" *ngIf="randomImageUrl" [ngStyle]="{'background-image': 'url(' + randomImageUrl + ')'}">
    <div class="container">
      <div class="row position-relative">
        <h1 class="banner-hero__title cat-title">{{ 'BANNER-HERO' | translate }}</h1>
      </div>
    </div>
    <!-- <div class="row">
        <div class="main-header__block-main">
          <div class="logo"><img src=""></div>
          <form class="search"><input id="photoFinder" class="search-input js-search-input"
              placeholder="Search photo" autofocus=""></form>
        </div>
  </div> -->
  </div>
