<!--<div class="banner-hero" *ngIf="randomImageUrl" [ngStyle]="{'background-image': 'url(' + randomImageUrl + ')'}">
<div class="banner-hero" [ngStyle]="{'background-image': randomImageUrl ? 'url(' + randomImageUrl + ')' : 'url(\'/assets/banner-hero.jpg\')'}">-->
<div class="banner-hero" [ngStyle]="{'background-image': 'url(' + imagenFondo + ')'}">
  <div class="container">
    <div class="row position-relative">
      <div class="col-12 col-md-6 offset-md-3">
        <h1 class="banner-hero__title mb-3 mb-md-5">{{ 'BANNER-HERO.TEXT' | translate }} <strong>{{ 'BANNER-HERO.CLAIM' | translate }}</strong></h1>
        <form (ngSubmit)="OnSubmit()">
          <input id="search" type="text" class="container__search" placeholder=" {{'SEARCH' | translate}} " [(ngModel)]="filter" name="filter">
        </form>
      </div>
    </div>
  </div>
</div>

