@import '../../../../../styles/mixins.scss';

.list-joboffer {
  &__item {
    margin-bottom: var(--spacingMd);
    cursor: pointer;
    color: #000;
    .card {
      border-radius: var(--spacingXs);
    }

  }
  &__subtitle {
    color: var(--backgroundDark);
    font-weight: bold;
    font-size: var(--spacingSm);
    font-family: 'Oceanwide', sans-serif;
  }
  &__title {
    color: var(--backgroundDark);
    font-size: var(--spacingLg);
    font-family: 'Oceanwide', sans-serif;
    margin: 0;
  }
  &__company {
    color: var(--textOnPrimary);
    margin-bottom: var(--spacingMd);
  }
  &__definition {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__img {
    border-radius: var(--spacingXs);
  }

}

.img-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #efefef; */
  width: 25%;
  height: 50%;
  margin-top: 15px;
  margin-left: 9px;
  border-radius: 5px;
}

.card-width {
  width: 33.333333%
}
