@import '../../../../../styles/mixins.scss';

.list-joboffer {
  &__item {
    margin-bottom: 2.4rem;
    cursor: pointer;
    padding-right: 1rem;
    @include media-breakpoint-up(sm) {
      padding-right: 2.4rem;
    }
  }
  &__title {
    color: var(--backgroundDark);
  }
  &__company {
    color: var(--textOnPrimary);
  }
}

.img-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #efefef; */
  width: 25%;
  height: 50%;
  margin-top: 15px;
  margin-left: 9px;
  border-radius: 5px;
}

.card-width {
  width: 33.333333%
}
