<ng-container *ngIf="catDetail">
  <a (click)="backWithLocation()" class="mb-5 d-flex">< {{ 'PREVIOUS-PAGE' | translate }}</a>
  <div class="row"><h2 class="mat-headline-3 cat-title -gradient">{{ catDetail.name }}</h2></div>
  <div class="row">
    <div class="col-12 col-md-6 order-1 order-md-0 detail-data">
      <p>{{ catDetail.description }}</p>
      <p><strong>{{ 'DETAILS.TEMPERAMENT' | translate }}: </strong>{{ catDetail.temperament }}</p>
      <ul class="list-detail">
        <li class="list-detail__item row">
          <div class="col-5"><strong>{{ 'DETAILS.WEIGHT' | translate }}:</strong></div>
          <div class="col-6">{{ catDetail.weight.metric}} Kg.</div>
        </li>
        <li class="list-detail__item row">
          <div class="col-5"><strong>{{ 'DETAILS.ORIGIN' | translate }}:</strong></div>
          <div class="col-6">{{ catDetail.origin }}</div>
        </li>
        <li class="list-detail__item row">
          <div class="col-5"><strong>{{ 'DETAILS.LIFE-SPAN' | translate }}:</strong></div>
          <div class="col-6">{{ catDetail.life_span }}</div>
        </li>
        <li class="list-detail__item row">
          <div class="col-5"><strong>{{ 'DETAILS.ADAPTABILITY' | translate }}:</strong></div>
          <div class="col-6"><app-rating [rating]="catDetail.adaptability"></app-rating></div>
        </li>
        <li class="list-detail__item row">
          <div class="col-5"><strong>{{ 'DETAILS.AFFECTION-LEVEL' | translate }}:</strong></div>
          <div class="col-6"><app-rating [rating]="catDetail.affection_level"></app-rating></div>
        </li>
        <li class="list-detail__item row">
          <div class="col-5"><strong>{{ 'DETAILS.CHILD-FRIENDLY' | translate }}:</strong></div>
          <div class="col-6"><app-rating [rating]="catDetail.child_friendly"></app-rating></div>
        </li>
        <li class="list-detail__item row">
          <div class="col-5"><strong>{{ 'DETAILS.DOG-FRIENDLY' | translate }}:</strong></div>
          <div class="col-6"><app-rating [rating]="catDetail.dog_friendly"></app-rating></div>
        </li>
        <li class="list-detail__item row">
          <div class="col-5"><strong>{{ 'DETAILS.GROOMING' | translate }}:</strong></div>
          <div class="col-6"><app-rating [rating]="catDetail.grooming"></app-rating></div>
        </li>
        <li class="list-detail__item row">
          <div class="col-5"><strong>{{ 'DETAILS.HEALTH-ISSUES' | translate }}:</strong></div>
          <div class="col-6"><app-rating [rating]="catDetail.health_issues"></app-rating></div>
        </li>
        <li class="list-detail__item row">
          <div class="col-5"><strong>{{ 'DETAILS.INTELLIGENCE' | translate }}:</strong></div>
          <div class="col-6"><app-rating [rating]="catDetail.intelligence"></app-rating></div>
        </li>
        <li class="list-detail__item row">
          <div class="col-5"><strong>{{ 'DETAILS.SHEDDING-LEVEL' | translate }}:</strong></div>
          <div class="col-6"><app-rating [rating]="catDetail.shedding_level"></app-rating></div>
        </li>
        <li class="list-detail__item row">
          <div class="col-5"><strong>{{ 'DETAILS.ENERGY-LEVEL' | translate }}:</strong></div>
          <div class="col-6"><app-rating [rating]="catDetail.energy_level"></app-rating></div>
        </li>
        <li class="list-detail__item row">
          <div class="col-5"><strong>{{ 'DETAILS.SOCIAL-NEEDS' | translate }}:</strong></div>
          <div class="col-6"><app-rating [rating]="catDetail.social_needs"></app-rating></div>
        </li>
        <li class="list-detail__item row">
          <div class="col-5"><strong>{{ 'DETAILS.STRANGER-FRIENDLY' | translate }}:</strong></div>
          <div class="col-6"><app-rating [rating]="catDetail.stranger_friendly"></app-rating></div>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6 order-0 order-md-1 mb-5">
      <picture>
        <img [src]="'https://cdn2.thecatapi.com/images/'+ catDetail.reference_image_id + '.jpg'">
      </picture>
    </div>
  </div>
</ng-container>
