<div [ngClass]="{'dark-theme': isDarkTheme | async}">
  <div class="mat-app-background">
    <app-header (changeLanguage)="setLang($event)"></app-header>
    <!--TODO CREAR UN LAYOUT Y CARGARLOS SEGÚN LAS RUTAS-->
    <div [ngClass]="url === '' ? 'home': 'container pt-4 px-4 my-5'">
      <router-outlet></router-outlet>
      <div class="container ">
        <div class="row alaing-items-center alaing-items-center justify-content-center">
          <div class="col-12 col-sm-6 col-lg-4 " style="background-color:red">col1</div>
          <div class="col-12 col-sm-6 col-lg-4 " style="background-color:rgb(122, 233, 18)">col2</div>
          <div class="col-12 col-sm-6 col-lg-4 " style="background-color:rgb(28, 35, 239)">col3</div>
        </div>
      </div>
    </div>
  </div>
</div>
