<h2 class="mat-headline-3 cat-title -gradient">{{ 'FORMS.TITLE.PROFILE' | translate }} {{ data.fullName }}</h2>
<div>
  <h3>Developer Component</h3>
  <p>Developer id: {{ data._id }}</p>
  <p>Developer age: {{ data.age }}</p>
  <p>Developer email: {{ data.email }}</p>
  <p>Developer phoneNumber: {{ data.phoneNumber }}</p>
  <p>Developer age: {{ data.age }}</p>
  <p>Developer salaryRangeMin: {{ data.salaryRangeMin }}</p>
  <p>Developer salaryRangeMax: {{ data.salaryRangeMax }}</p>
  <p>Developer languages: {{ data.languages }}</p>
  <img src="{{ data.image }}" alt="{{ data.image }}"/>
  <p>Company portfolio: {{ data.portfolio }}</p>
  <p>Company experience: {{ data.experience }}</p>
  <p>Company hardSkills: {{ data.hardSkills }}</p>
  <p>Company softSkills: {{ data.softSkills }}</p>
  <p>Company education: {{ data.education }}</p>
  <p>Company typeJob: {{ data.typeJob }}</p>
  <p>Company movility: {{ data.movility }}</p>
  <p>Company updatedAt: {{ data.updatedAt }}</p>

</div>
