<footer class="container">
  <div class="main-footer">
    <ul class="pages-footer d-flex">
      <li class="pages-footer__item">Copyright © 2023 Dev Zone</li>
      <li class="pages-footer__item"><a routerLink="/quienes-somos">Alberto</a></li>
    </ul>
    <ul class="social-footer d-flex">
      <li class="social-footer__item"><img src="/assets/logo-linkedin.svg" class="social-footer__img"/></li>
      <li class="social-footer__item"><img src="/assets/logo-github.svg" class="social-footer__img"/></li>
      <li class="social-footer__item"><img src="/assets/logo-medium.svg" class="social-footer__img"/></li>
    </ul>
  </div>
</footer>
<app-chatbot></app-chatbot>
