.main-footer {
  border-top: 1px solid rgba(#000, 0.2);
  margin-top: var(--spacingXl);
  padding-top: var(--spacingSm);
  padding-bottom: var(--spacingSm);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pages-footer {
  &__item {
    border-right: 1px solid rgba(#000, 0.2);
    margin-right: var(--spacingSm);
    padding-right: var(--spacingSm);
    &:last-child {
      margin-right: 0;
      border-right: 0;
    }
  }
  &__link {
    color: var(--white);
    text-decoration: none;
  }
}
.social-footer {
  margin-left: auto;
  &__item {
    padding: 0 var(--spacingXs) 0;
    &:last-child {
      padding-right: 0;
    }
  }
  &__img {
    width: var(--spacingLg);
    height: var(--spacingLg);
    filter: invert(0);
  }
}
