@import '../../../../../styles/mixins.scss';
.list-logo {
  flex-wrap: wrap;
  background: #ffffff;
  border-radius: var(--spacingXs);
  border-color: 1px solid var(--primaryLightColor);
  @include media-breakpoint-up(lg){
    // flex-wrap: nowrap;
    // justify-content: space-between;
  }
  &__item{
    padding: var(--spacingLg);
    display: flex;
    align-items: center;
    justify-content: center;
    // @include media-breakpoint-up(md){
    //   width: 33.3333%;
    // }
    // @include media-breakpoint-up(lg){
    //   width:auto;
    // }
  }
  &__img{
    padding: var(--spacingXs);
    border: 1px solid var(--secondaryLightColor);
    border-radius: var(--spacingXs);
    width: 100%;
  }
}
