/* You can add global styles to this file, and also import other style files */
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@import "@angular/material/theming";

@include mat.core();

$my-custom-typography-config: mat.define-typography-config($headline-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
    $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
    $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
    $headline-4: mat.define-typography-level(34px, 40px, 400),
    $headline-5: mat.define-typography-level(24px, 32px, 400),
    // ...
  );

$angular-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme((color: (primary: mat.define-palette(mat.$blue-palette),
        accent: $angular-accent,
        warn: $angular-warn,
      ),
      typography: $my-custom-typography-config,
    ));
$angular-dark-theme: mat.define-dark-theme((color: (primary: mat.define-palette(mat.$blue-palette),
        accent: mat.define-palette(mat.$green-palette),
        warn: $angular-warn,
      ),
    ));
@include mat.all-component-themes($angular-default-theme);

$headline: mat.define-typography-level(20px, 27px, 400, );


:root {
  --primaryLightColor: #0079c8;
  --primaryDarkColor: #b9fe00;
  --secondaryLightColor: #00335b;
  --secondaryDarkColor: #e9ffae;
  --yellow: #fffc14;
  --textOnPrimary: #3e38f2;
  --textOnPrimary: #5c73f2;
  --backgroundDark: #142642;
  --backgroundError: #cd2828;
  --white: #ffffff;
  --boxShadowLight: 0px 0px 16px 0px rgba(0,0,0,0.4);
  --boxShadowDark: 0px 0px 16px 0px rgba(255,255,255,0.4);
  --dropShadowSvgLight: 0px 0px 8px rgba(0,0,0,0.4);
  --dropShadowSvgDark: 0px 0px 8px rgba(255,255,255,0.4);
  --rootUnit: 8px;
  --spacingXxs: calc(var(--rootUnit)/2);
  --spacingXs: var(--rootUnit);
  --spacingSm: calc(var(--rootUnit)*2);
  --spacingMd: calc(var(--rootUnit)*3);
  --spacingLg: calc(var(--rootUnit)*4);
  --spacingXl: calc(var(--rootUnit)*5);
}


@import url('./styles/animations.scss');


@import url('./styles/_helpers.scss');

@import url('./styles/reset.scss');



@font-face {
  font-family: "Celebes";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eagle Book";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;

  font-size: 1.5rem;
  font-family: 'Celebes', sans-serif;


  @media only screen and (min-width: 768px) {
    font-size: 1.7rem;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  cursor: pointer;
  color: var(--primaryLightColor);
}

.mat-form-field {
  width: 100%;
}

.misc-bottom-padding {
  margin: 8px 0 20px;
}

.misc-bottom-padding mat-label {
  margin-right: 15px;
}

.mat-radio-label {
  margin: 0 15px 0 0;
}

.title-center {
  margin: 0 auto;
}

.button-wrapper {
  margin-top: 10px;
}

.mat-mdc-card-title {
  font-weight: bold;
}

.mat-typography {
  font-family: 'Celebes', sans-serif;
  font-size: 1.5rem;
  .mat-app-background {
    background-color: transparent;
  }
  @media only screen and (min-width: 768px) {
    font-size: 1.7rem;
  }

  .mat-headline-2 {
    margin-bottom: 3.2rem;
  }
  .cat-title {
    font-family: 'Oceanwide', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 3.2rem;
  }
  .cat-title.-gradient {
    color: #E96479;
    background: linear-gradient( #E96479 35%, #4D455D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0.8rem;
  }
  .mat-mdc-card{
    box-shadow: 0 8px 14px 5px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  }
}

.lang-es {
  .button-lang__es span {
    font-weight: bold;
  }
}

.lang-en {
  .button-lang__en span {
    font-weight: bold;
  }
}

.home {
  width: 100%;
}



// FORMS
.mat-typography {
  .mat-mdc-form-field {
    margin-bottom: 2.4rem;
    *{
      font-family: 'Celebes', sans-serif;
    }
  }
  .cat-button {
    font-family: 'Oceanwide', sans-serif;
  }
  .mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
    position: static;
    p {
      margin-bottom: 0;
    }
  }
  .mat-mdc-form-field-bottom-align::before {
    display: none;
  }
  // Angular material button size && radius border
  .cat-button {
    background-color: var(--primaryColor);
      height: 6rem;
      font-size: 2rem;
      border-radius: 3.2rem;
      text-align: center;
      text-transform: uppercase;
  }
  .mat-headline-4.cat-title {
    color: var(--primaryLightColor);
  }
  .cat-title {
      font-family: "Oceanwide", sans-serif;
      font-weight: bold;
      margin-bottom: 3.2rem;
      color: var(--secondaryLightColor);
  }
}


//list-icons
.list-icons {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacingXs);
  }
  &__icon, &__text {
    margin-right: var(--spacingXs);
  }
}

// BORDER TITLE
.-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
// BORDER
.border-rounded {
  border-radius: var(--spacingSm);
  border: 1px solid var(--primaryLightColor);
}

.dark-theme .-border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.secondary-menu {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  &__button {
    background: none;
    border: none;
    color: var(--mdc-icon-button-icon-color, inherit);
  }
}

// img-entity

.img-entity {
  margin-bottom: var(--spacingMd);
  @media only screen and (min-width: 992px) {
    margin: 0 var(--spacingMd) var(--spacingMd) 0;
  }
}
// SNACKBAR CUSTOM
.mat-mdc-snack-bar-container {
  &.error-snackbar {
    --mdc-snackbar-container-color: var(--backgroundError) !important;
    --mat-mdc-snack-bar-button-color: #fff !important;
    --mdc-snackbar-supporting-text-color: #fff !important;
  }
}

// STYLING INPUT TYPE FILE
.form-control.-file {
  background-color: transparent;
  margin-bottom: var(--spacingMd);
  color: rgba(0, 0, 0, 0.6);
  padding: 1.6rem;
  border-radius: 4px;
  font-family: 'celebes';
  border-color: rgba(0, 0, 0, 0.4);
  label {
    font-family: 'celebes';
    font-size: var(--spacingSm);
  }
}

// STYLING APP-HEADER
.-bg-main-header {
  display: flex;
  .mat-toolbar {
    background-color: transparent;
  }
}

// THEMING
.dark-theme {
  a {
    color: var(--secondaryDarkColor);
  }
  @include mat.all-component-colors($angular-dark-theme);
  .main-header__title {
    color: #ffffbdff !important;
  }
  .main-header__logo-img {
    margin-top: -53px;
  }
  .cat-title.-gradient {
    background: linear-gradient(var(--primaryColor) 10%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .-bg-main-header {
    background: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.07) 100%);
    box-shadow: 0 2px 5px #0000004d;
  }
  .border-rounded {
    border: 1px solid var(--primaryDarkColor);
  }
  footer {
    .main-footer {
      border-top: 1px solid rgba(#fff, 0.2);
    }
    .pages-footer {
      &__link {
        color: var(--black);
      }
      &__item {
        border-right: 1px solid rgba(#fff, 0.2);
      }
    }
    .social-footer {
      &__img {
        filter: invert(1);
      }
    }
  }
  .mat-headline-4.cat-title {
    color: var(--secondaryDarkColor);
  }
  .cat-title {
      font-family: "Oceanwide", sans-serif;
      font-weight: bold;
      margin-bottom: 3.2rem;
      color: var(--primaryDarkColor);
  }
  .secondary-menu {
    &__button {
    }
  }
  .form-control.-file {
    color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255,255,255,0.5);
  }
  .-bg-main-header {
    .mat-toolbar {
      background-color: transparent;
    }
  }
}
.dark-theme, .dark-theme .mat-app-background {
  background-color: var(--backgroundDark);
}

.light-theme {
  .pages-footer {
    &__link {
      color: rgba(0, 0, 0, 0.87);
      text-decoration: none;
    }
  }
  .-bg-main-header {
    background: linear-gradient(rgba(255, 255, 255, 0.1) 65%, rgba(0, 0, 0, 0.1) 100%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
  }
}
